# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

*.iml
*.ipr
*.iws
.idea/
/out/

# OSX dot files #

.DS_Store

# Package Files #

*.class
*.war
*.jar

# Maven
target/
**/target/
**/.settings/
**/*.project
**/*.classpath
